$theme-light: #F1F0CC;
$theme-ecru: #D5BF86;
$theme-shadow: #8D775F;
$theme-dark: #363636;
$theme-red: #A71D31;
$theme-sienna: #3F0D12;


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
